
/*
 * common stylesheets for chart editor
 */


#iframe-wrapper {
    box-shadow: 1px 1px 24px rgba(10, 0, 0, 0.4);
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 7px;
    overflow: hidden;
    background: #fff;
    max-width: 98%;
    margin: 0 auto;
    background: url(chart-editor/resize-handle.png) bottom right no-repeat;
}

#iframe-vis {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#iframe-wrapper.resizing iframe {
    pointer-events: none;
}


.coachmark-popover {
    background-color: #fcfccf;
}
.coachmark-popover.right .arrow:after {
    border-right-color: #fcfccf;
}
.coachmark-popover.left .arrow:after {
    border-left-color: #fcfccf;
}