/* styles for visualize step */

.visualize-left {
    -webkit-transition: width .25s ease-in-out;
       -moz-transition: width .25s ease-in-out;
        -ms-transition: width .25s ease-in-out;
         -o-transition: width .25s ease-in-out;
            transition: width .25s ease-in-out;
}

.axes-editor .columns {
    margin-top: 15px;
    overflow:auto;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px 10px 5px;
    background: #f5f3f3;
    border-radius: 5px;
    box-shadow: inset 1px 1px 4px rgba(0,0,0,.1);
}

.axes-editor .axis {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 210px;
    margin: 0 20px 20px 0;
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
}

.axes-editor .axis .head {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.axes-editor .axis .axis-title,
.axes-preview .axis .axis-title {
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #777;
    font-weight: bold;
}

.axes-editor .axis .body {
    padding: 10px;
}


.axes-editor .axis .axis-columns {
    margin: 0;
    min-height: 30px;
    overflow:auto;
}

.axes-editor .column {
    color: #fff;
    background: #6ad;
    border-radius: 3px;
    padding: 3px 8px;
    text-align: center;
}

.axes-editor .column-text:before {
    content: "T ";
    font-family: "Times New Roman";
    opacity: 0.7;
}

.axes-editor .column-number:before {
    content: "# ";
    opacity: 0.7;
}
.axes-editor .column-date:before {
    content: " ";
    opacity: 0.8;
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 4px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAA3NCSVQICAjb4U/gAAAAGFBMVEX///////////////////////////////8pK8DIAAAACHRSTlMAESIzVWaI/7R6FnwAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAYdEVYdENyZWF0aW9uIFRpbWUAMTQuMTEuMjAxM+cBdXwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAOklEQVQImWNgcC8vYWBgKxF0T2BwVyhgKmEoYShgcGcoBJLqQLK8QB0owsAQDpRlYC4BqlQCqgTrAgBf6wuC7zh6ywAAAABJRU5ErkJggg==) top left no-repeat;
}

.axes-editor .axis .axis-columns .column {
    margin: 0 0 5px;
    text-align: center;
}

.ui-sortable-helper,
.ui-draggable-dragging {
    -webkit-transform: rotate(5deg);
       -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
         -o-transform: rotate(5deg);
            transform: rotate(5deg);
    box-shadow: 5px 5px 3px rgba(0,0,0,.2)
}


.axes-editor .columns .column {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    margin: 0 5px 5px 0;
}

.axes-editor .template-column, .template-axis {
    display: none;
}

.sortable-placeholder {
    border: 1px dashed #ddd;
    text-align: center;
    color: #bbb;
    padding: 3px 8px;
    margin-bottom: 5px;
}

.sortable-placeholder:after {
    content: "drop here";
}

.column.soon-to-be-removed {
    background: #d63!important;
    opacity: 0.5;
}

.axes-editor .axis-columns .ui-draggable {
    margin-top: 0px!important;
}

.column.ui-draggable.not-accepted,
.axis-columns .column.not-accepted {
    background: #d63!important;
}

.axes-preview {
    cursor: pointer;
}

.axes-preview .axis {
    margin-bottom: 10px;
    padding: 2px 5px 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fcfcfc;
}

.axes-preview:hover .axis {
    background: #fff;
    border: 1px solid #ccc;
}

.axes-preview .axis .axis-title,
.axes-preview .axis .axis-columns {

}

.axes-preview .axis .axis-title {
    text-align: left;
}

.axes-preview .axis .axis-columns {
    width: 100%;
    color: #888;
    font-size: 13px;
    line-height: 18px;
}

.axes-preview .axis .axis-columns .column {
    display: inline-block;
    background: #6ad;
    color: #fff;
    padding: 0 4px;
    border-radius: 2px;
}


.axes-preview .axis .axis-columns .column:after {
    content: ", ";
}

.axes-preview .axis .axis-columns .column:last-child:after {
    content: "";
}

.axes-preview .axis .axis-columns .column + .column + .column + .column {
    opacity: 0.7;
}

.axes-preview .axis .axis-columns .column + .column + .column + .column + .column {
    opacity: 0.3;
}

.axes-preview .axis .axis-columns .column + .column + .column + .column + .column + .column {
    display: none;
}

.section + .section {
    margin-top: 2em;
}