{% use "theme-core.twig" %}

{{ block('chart_head_no_fs') }}


<div id="chart"></div>

<div id="footer">
    {% if not plain %}
        <div class="footer-right">
            <div class="toggleable-panel">
                {% if source %}

                    <span data-src="Bron:" class="source-block">Bron:
                    {% if sourceURL %}<a target="_blank" class="source" href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>{% endif %}</span>

                {% endif %}
            </div>
        </div>
        <div class="toggleable-panel-overlay"></div>
    {% endif %}
</div>
